<link rel="stylesheet" href="/static/loginStyle.css" type="text/css">
{% block body %}
<div>
	<h1>Echo Ping Pong Dashboard</h1>
</div>
    <div>
        <iframe src="http://35.223.229.107/d-solo/Owx4VqAWz/testing?orgId=1&refresh=5s&panelId=9" width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://35.223.229.107/d-solo/Owx4VqAWz/testing?orgId=1&refresh=5s&panelId=8" width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://35.223.229.107/d-solo/Owx4VqAWz/testing?orgId=1&refresh=5s&panelId=15" width="450" height="200" frameborder="0"></iframe>
    </div>

{% endblock %}