<link rel="stylesheet" href="/static/loginStyle.css" type="text/css">
<style>
	.blink {
	animation: blinker 1.2s linear infinite;
	color: #e00707;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	}
	@keyframes blinker {  
	50% { opacity: 0; }
	}
	.blink-one {
	animation: blinker-one 1s linear infinite;
	}
	@keyframes blinker-one {  
	0% { opacity: 0; }
	}
	.blink-two {
	animation: blinker-two 1.4s linear infinite;
	}
	@keyframes blinker-two {  
	100% { opacity: 0; }
	}
</style>
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

{#    https://pythonspot.com/en/login-authentication-with-flask/ #}

<form action="" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Ping Pong Monitor</h1>
				<p class="blink">Do NOT use your Echo credentials</p>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" id="username" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" id="password" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
                <div><p>Need an account? Contact zachary.mailloux@echo.com</p></div>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}